@use "../vars" as *;

.bg_game_cont {
  margin-top: 130px;
}
.bg_pentagon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    @include breack_down(large) {
      width: 250px;
      height: 250px;
    }
  }
  .bg_item {
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    img {
      width: 55px;
      @include breack_down(large) {
        width: 40px;
        height: 40px;
      }
    }
    @include breack_down(large) {
      width: 100px;
      height: 100px;
    }
  }
  .scissors {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 15px solid $ScissorsGradient;
  }
  .paper {
    right: 0;
    top: 50%;
    transform: translate(50%, -70%);
    border: 15px solid $PaperGradient;
  }
  .spock {
    left: 0;
    top: 50%;
    transform: translate(-50%, -70%);
    border: 15px solid $Cyan;
  }
  .rock {
    right: 0;
    bottom: 0;
    transform: translate(10%, 40%);
    border: 15px solid $RockGradient;
  }
  .lizard {
    left: 0;
    bottom: 0;
    transform: translate(-10%, 40%);
    border: 15px solid $LizardGradient;
  }
}
