@use "./vars" as *;
.home_cont {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  gap: 5rem;
  @include breack_down(large) {
    flex-direction: column;
  }
}
.link_cont {
  img {
    &:hover {
      opacity: 0.7;
    }
  }
}
